1) Do the predicting factors that have been chosen really affect life expectancy? What are the variables affecting life expectancy?  
2) Should a country with a low life expectancy value (<65) increase its healthcare expenditure in order to improve its average lifespan?  
3) How do Infant and Adult mortality rates affect life expectancy?  
4) Does life expectancy have a positive or a negative correlation with eating habits, lifestyle, exercise, smoking, drinking alcohol etc.?  
5) What is the impact of schooling on the lifespan of humans?  
6) Do densely populated countries tend to have lower life expectancy?  
7) What is the impact of Immunization coverage on life expectancy?

What are the variable that affect life expectancy, and what measures can countries take in order to improve the average lifespan of people?

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
df = pd.read_csv('../../DATA/led.csv')

In [3]:
df.head()

,Country,Year,Status,Lifeexpectancy,AdultMortality,infantdeaths,Alcohol,percentageexpenditure,HepatitisB,Measles,...,Polio,Totalexpenditure,Diphtheria,HIV/AIDS,GDP,Population,thinness1-19years,thinness5-9years,Incomecompositionofresources,Schooling
0,Afghanistan,2015,Developing,65.0,263.0,62,0.01,71.279624,65.0,1154,...,6.0,8.16,65.0,0.1,584.259210,33736494.0,17.2,17.3,0.479,10.1
1,Afghanistan,2014,Developing,59.9,271.0,64,0.01,73.523582,62.0,492,...,58.0,8.18,62.0,0.1,612.696514,327582.0,17.5,17.5,0.476,10.0
2,Afghanistan,2013,Developing,59.9,268.0,66,0.01,73.219243,64.0,430,...,62.0,8.13,64.0,0.1,631.744976,31731688.0,17.7,17.7,0.470,9.9
3,Afghanistan,2012,Developing,59.5,272.0,69,0.01,78.184215,67.0,2787,...,67.0,8.52,67.0,0.1,669.959000,3696958.0,17.9,18.0,0.463,9.8
4,Afghanistan,2011,Developing,59.2,275.0,71,0.01,7.097109,68.0,3013,...,68.0,7.87,68.0,0.1,63.537231,2978599.0,18.2,18.2,0.454,9.5

In [4]:
df.tail()

,Country,Year,Status,Lifeexpectancy,AdultMortality,infantdeaths,Alcohol,percentageexpenditure,HepatitisB,Measles,...,Polio,Totalexpenditure,Diphtheria,HIV/AIDS,GDP,Population,thinness1-19years,thinness5-9years,Incomecompositionofresources,Schooling
2933,Zimbabwe,2004,Developing,44.3,723.0,27,4.36,0.0,68.0,31,...,67.0,7.13,65.0,33.6,454.366654,12777511.0,9.4,9.4,0.407,9.2
2934,Zimbabwe,2003,Developing,44.5,715.0,26,4.06,0.0,7.0,998,...,7.0,6.52,68.0,36.7,453.351155,12633897.0,9.8,9.9,0.418,9.5
2935,Zimbabwe,2002,Developing,44.8,73.0,25,4.43,0.0,73.0,304,...,73.0,6.53,71.0,39.8,57.348340,125525.0,1.2,1.3,0.427,10.0
2936,Zimbabwe,2001,Developing,45.3,686.0,25,1.72,0.0,76.0,529,...,76.0,6.16,75.0,42.1,548.587312,12366165.0,1.6,1.7,0.427,9.8
2937,Zimbabwe,2000,Developing,46.0,665.0,24,1.68,0.0,79.0,1483,...,78.0,7.10,78.0,43.5,547.358879,12222251.0,11.0,11.2,0.434,9.8

In [5]:
df.columns

Index(['Country', 'Year', 'Status', 'Lifeexpectancy', 'AdultMortality',
       'infantdeaths', 'Alcohol', 'percentageexpenditure', 'HepatitisB',
       'Measles', 'BMI', 'under-fivedeaths', 'Polio', 'Totalexpenditure',
       'Diphtheria', 'HIV/AIDS', 'GDP', 'Population', 'thinness1-19years',
       'thinness5-9years', 'Incomecompositionofresources', 'Schooling'],
      dtype='object')

In [6]:
len(df)

2938

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2938 entries, 0 to 2937
Data columns (total 22 columns):
Country                         2938 non-null object
Year                            2938 non-null int64
Status                          2938 non-null object
Lifeexpectancy                  2928 non-null float64
AdultMortality                  2928 non-null float64
infantdeaths                    2938 non-null int64
Alcohol                         2744 non-null float64
percentageexpenditure           2938 non-null float64
HepatitisB                      2385 non-null float64
Measles                         2938 non-null int64
BMI                             2904 non-null float64
under-fivedeaths                2938 non-null int64
Polio                           2919 non-null float64
Totalexpenditure                2712 non-null float64
Diphtheria                      2919 non-null float64
HIV/AIDS                        2938 non-null float64
GDP                             2490 non-null float64
Population                      2286 non-null float64
thinness1-19years               2904 non-null float64
thinness5-9years                2904 non-null float64
Incomecompositionofresources    2771 non-null float64
Schooling                       2775 non-null float64
dtypes: float64(16), int64(4), object(2)
memory usage: 505.1+ KB

In [8]:
df.isnull().sum()

Country                           0
Year                              0
Status                            0
Lifeexpectancy                   10
AdultMortality                   10
infantdeaths                      0
Alcohol                         194
percentageexpenditure             0
HepatitisB                      553
Measles                           0
BMI                              34
under-fivedeaths                  0
Polio                            19
Totalexpenditure                226
Diphtheria                       19
HIV/AIDS                          0
GDP                             448
Population                      652
thinness1-19years                34
thinness5-9years                 34
Incomecompositionofresources    167
Schooling                       163
dtype: int64

In [9]:
df[df['Lifeexpectancy'].isnull()]

,Country,Year,Status,Lifeexpectancy,AdultMortality,infantdeaths,Alcohol,percentageexpenditure,HepatitisB,Measles,...,Polio,Totalexpenditure,Diphtheria,HIV/AIDS,GDP,Population,thinness1-19years,thinness5-9years,Incomecompositionofresources,Schooling
624,CookIslands,2013,Developing,NaN,NaN,0,0.01,0.000000,98.0,0,...,98.0,3.58,98.0,0.1,NaN,NaN,0.1,0.1,NaN,NaN
769,Dominica,2013,Developing,NaN,NaN,0,0.01,11.419555,96.0,0,...,96.0,5.58,96.0,0.1,722.756650,NaN,2.7,2.6,0.721,12.7
1650,MarshallIslands,2013,Developing,NaN,NaN,0,0.01,871.878317,8.0,0,...,79.0,17.24,79.0,0.1,3617.752354,NaN,0.1,0.1,NaN,0.0
1715,Monaco,2013,Developing,NaN,NaN,0,0.01,0.000000,99.0,0,...,99.0,4.30,99.0,0.1,NaN,NaN,NaN,NaN,NaN,NaN
1812,Nauru,2013,Developing,NaN,NaN,0,0.01,15.606596,87.0,0,...,87.0,4.65,87.0,0.1,136.183210,NaN,0.1,0.1,NaN,9.6
1909,Niue,2013,Developing,NaN,NaN,0,0.01,0.000000,99.0,0,...,99.0,7.20,99.0,0.1,NaN,NaN,0.1,0.1,NaN,NaN
1958,Palau,2013,Developing,NaN,NaN,0,NaN,344.690631,99.0,0,...,99.0,9.27,99.0,0.1,1932.122370,292.0,0.1,0.1,0.779,14.2
2167,SaintKittsandNevis,2013,Developing,NaN,NaN,0,8.54,0.000000,97.0,0,...,96.0,6.14,96.0,0.1,NaN,NaN,3.7,3.6,0.749,13.4
2216,SanMarino,2013,Developing,NaN,NaN,0,0.01,0.000000,69.0,0,...,69.0,6.50,69.0,0.1,NaN,NaN,NaN,NaN,NaN,15.1
2713,Tuvalu,2013,Developing,NaN,NaN,0,0.01,78.281203,9.0,0,...,9.0,16.61,9.0,0.1,3542.135890,1819.0,0.2,0.1,NaN,0.0

In [10]:
df = df.dropna(axis=0, subset=['Lifeexpectancy'])

In [11]:
df.isnull().sum()

Country                           0
Year                              0
Status                            0
Lifeexpectancy                    0
AdultMortality                    0
infantdeaths                      0
Alcohol                         193
percentageexpenditure             0
HepatitisB                      553
Measles                           0
BMI                              32
under-fivedeaths                  0
Polio                            19
Totalexpenditure                226
Diphtheria                       19
HIV/AIDS                          0
GDP                             443
Population                      644
thinness1-19years                32
thinness5-9years                 32
Incomecompositionofresources    160
Schooling                       160
dtype: int64

In [12]:
df.head().transpose()

,0,1,2,3,4
Country,Afghanistan,Afghanistan,Afghanistan,Afghanistan,Afghanistan
Year,2015,2014,2013,2012,2011
Status,Developing,Developing,Developing,Developing,Developing
Lifeexpectancy,65,59.9,59.9,59.5,59.2
AdultMortality,263,271,268,272,275
infantdeaths,62,64,66,69,71
Alcohol,0.01,0.01,0.01,0.01,0.01
percentageexpenditure,71.2796,73.5236,73.2192,78.1842,7.09711
HepatitisB,65,62,64,67,68
Measles,1154,492,430,2787,3013
BMI,19.1,18.6,18.1,17.6,17.2
under-fivedeaths,83,86,89,93,97
Polio,6,58,62,67,68
Totalexpenditure,8.16,8.18,8.13,8.52,7.87
Diphtheria,65,62,64,67,68
HIV/AIDS,0.1,0.1,0.1,0.1,0.1
GDP,584.259,612.697,631.745,669.959,63.5372
Population,3.37365e+07,327582,3.17317e+07,3.69696e+06,2.9786e+06
thinness1-19years,17.2,17.5,17.7,17.9,18.2
thinness5-9years,17.3,17.5,17.7,18,18.2
Incomecompositionofresources,0.479,0.476,0.47,0.463,0.454
Schooling,10.1,10,9.9,9.8,9.5

In [12]:
df[df['Polio'].isnull()]

,Country,Year,Status,Lifeexpectancy,AdultMortality,infantdeaths,Alcohol,percentageexpenditure,HepatitisB,Measles,...,Polio,Totalexpenditure,Diphtheria,HIV/AIDS,GDP,Population,thinness1-19years,thinness5-9years,Incomecompositionofresources,Schooling
1742,Montenegro,2005,Developing,73.6,133.0,0,NaN,527.307672,NaN,0,...,NaN,8.46,NaN,0.1,3674.617924,614261.0,2.3,2.3,0.746,12.8
1743,Montenegro,2004,Developing,73.5,134.0,0,0.01,57.121901,NaN,0,...,NaN,8.45,NaN,0.1,338.199535,613353.0,2.3,2.4,0.740,12.6
1744,Montenegro,2003,Developing,73.5,134.0,0,0.01,495.078296,NaN,0,...,NaN,8.91,NaN,0.1,2789.173500,612267.0,2.4,2.4,0.000,0.0
1745,Montenegro,2002,Developing,73.4,136.0,0,0.01,36.480240,NaN,0,...,NaN,8.33,NaN,0.1,216.243274,69828.0,2.5,2.5,0.000,0.0
1746,Montenegro,2001,Developing,73.3,136.0,0,0.01,33.669814,NaN,0,...,NaN,8.23,NaN,0.1,199.583957,67389.0,2.5,2.6,0.000,0.0
1747,Montenegro,2000,Developing,73.0,144.0,0,0.01,274.547260,NaN,0,...,NaN,7.32,NaN,0.1,1627.428930,6495.0,2.6,2.7,0.000,0.0
2414,SouthSudan,2010,Developing,55.0,359.0,27,NaN,0.000000,NaN,0,...,NaN,NaN,NaN,4.0,1562.239346,167192.0,NaN,NaN,0.000,0.0
2415,SouthSudan,2009,Developing,54.3,369.0,27,NaN,0.000000,NaN,0,...,NaN,NaN,NaN,4.2,1264.789980,967667.0,NaN,NaN,0.000,0.0
2416,SouthSudan,2008,Developing,53.6,377.0,27,NaN,0.000000,NaN,0,...,NaN,NaN,NaN,4.2,1678.711862,9263136.0,NaN,NaN,0.000,0.0
2417,SouthSudan,2007,Developing,53.1,381.0,27,NaN,0.000000,NaN,0,...,NaN,NaN,NaN,4.2,NaN,88568.0,NaN,NaN,0.000,0.0
2418,SouthSudan,2006,Developing,52.5,383.0,28,NaN,0.000000,NaN,0,...,NaN,NaN,NaN,4.1,NaN,8468152.0,NaN,NaN,0.000,0.0
2419,SouthSudan,2005,Developing,51.9,383.0,28,NaN,0.000000,NaN,0,...,NaN,NaN,NaN,3.9,NaN,818877.0,NaN,NaN,0.000,0.0
2420,SouthSudan,2004,Developing,51.4,383.0,29,NaN,0.000000,NaN,0,...,NaN,NaN,NaN,3.8,NaN,7787655.0,NaN,NaN,0.000,0.0
2421,SouthSudan,2003,Developing,58.0,383.0,29,NaN,0.000000,NaN,0,...,NaN,NaN,NaN,3.5,NaN,751642.0,NaN,NaN,0.000,0.0
2422,SouthSudan,2002,Developing,52.0,382.0,30,NaN,0.000000,NaN,0,...,NaN,NaN,NaN,3.3,NaN,7237276.0,NaN,NaN,0.000,0.0
2423,SouthSudan,2001,Developing,49.6,381.0,30,NaN,0.000000,NaN,0,...,NaN,NaN,NaN,3.0,NaN,6974442.0,NaN,NaN,0.000,0.0
2424,SouthSudan,2000,Developing,48.9,38.0,31,NaN,0.000000,NaN,0,...,NaN,NaN,NaN,2.7,NaN,67656.0,NaN,NaN,0.000,0.0
2615,Timor-Leste,2001,Developing,59.4,269.0,3,0.50,6.556583,NaN,0,...,NaN,3.75,NaN,0.1,56.424987,892531.0,12.1,12.2,0.470,9.8
2616,Timor-Leste,2000,Developing,58.7,276.0,3,0.50,49.069672,NaN,0,...,NaN,3.26,NaN,0.1,422.286330,87167.0,12.2,12.2,0.000,0.0

In [13]:
df[df['Polio'].isnull()]

,Country,Year,Status,Lifeexpectancy,AdultMortality,infantdeaths,Alcohol,percentageexpenditure,HepatitisB,Measles,...,Polio,Totalexpenditure,Diphtheria,HIV/AIDS,GDP,Population,thinness1-19years,thinness5-9years,Incomecompositionofresources,Schooling
1742,Montenegro,2005,Developing,73.6,133.0,0,NaN,527.307672,NaN,0,...,NaN,8.46,NaN,0.1,3674.617924,614261.0,2.3,2.3,0.746,12.8
1743,Montenegro,2004,Developing,73.5,134.0,0,0.01,57.121901,NaN,0,...,NaN,8.45,NaN,0.1,338.199535,613353.0,2.3,2.4,0.740,12.6
1744,Montenegro,2003,Developing,73.5,134.0,0,0.01,495.078296,NaN,0,...,NaN,8.91,NaN,0.1,2789.173500,612267.0,2.4,2.4,0.000,0.0
1745,Montenegro,2002,Developing,73.4,136.0,0,0.01,36.480240,NaN,0,...,NaN,8.33,NaN,0.1,216.243274,69828.0,2.5,2.5,0.000,0.0
1746,Montenegro,2001,Developing,73.3,136.0,0,0.01,33.669814,NaN,0,...,NaN,8.23,NaN,0.1,199.583957,67389.0,2.5,2.6,0.000,0.0
1747,Montenegro,2000,Developing,73.0,144.0,0,0.01,274.547260,NaN,0,...,NaN,7.32,NaN,0.1,1627.428930,6495.0,2.6,2.7,0.000,0.0
2414,SouthSudan,2010,Developing,55.0,359.0,27,NaN,0.000000,NaN,0,...,NaN,NaN,NaN,4.0,1562.239346,167192.0,NaN,NaN,0.000,0.0
2415,SouthSudan,2009,Developing,54.3,369.0,27,NaN,0.000000,NaN,0,...,NaN,NaN,NaN,4.2,1264.789980,967667.0,NaN,NaN,0.000,0.0
2416,SouthSudan,2008,Developing,53.6,377.0,27,NaN,0.000000,NaN,0,...,NaN,NaN,NaN,4.2,1678.711862,9263136.0,NaN,NaN,0.000,0.0
2417,SouthSudan,2007,Developing,53.1,381.0,27,NaN,0.000000,NaN,0,...,NaN,NaN,NaN,4.2,NaN,88568.0,NaN,NaN,0.000,0.0
2418,SouthSudan,2006,Developing,52.5,383.0,28,NaN,0.000000,NaN,0,...,NaN,NaN,NaN,4.1,NaN,8468152.0,NaN,NaN,0.000,0.0
2419,SouthSudan,2005,Developing,51.9,383.0,28,NaN,0.000000,NaN,0,...,NaN,NaN,NaN,3.9,NaN,818877.0,NaN,NaN,0.000,0.0
2420,SouthSudan,2004,Developing,51.4,383.0,29,NaN,0.000000,NaN,0,...,NaN,NaN,NaN,3.8,NaN,7787655.0,NaN,NaN,0.000,0.0
2421,SouthSudan,2003,Developing,58.0,383.0,29,NaN,0.000000,NaN,0,...,NaN,NaN,NaN,3.5,NaN,751642.0,NaN,NaN,0.000,0.0
2422,SouthSudan,2002,Developing,52.0,382.0,30,NaN,0.000000,NaN,0,...,NaN,NaN,NaN,3.3,NaN,7237276.0,NaN,NaN,0.000,0.0
2423,SouthSudan,2001,Developing,49.6,381.0,30,NaN,0.000000,NaN,0,...,NaN,NaN,NaN,3.0,NaN,6974442.0,NaN,NaN,0.000,0.0
2424,SouthSudan,2000,Developing,48.9,38.0,31,NaN,0.000000,NaN,0,...,NaN,NaN,NaN,2.7,NaN,67656.0,NaN,NaN,0.000,0.0
2615,Timor-Leste,2001,Developing,59.4,269.0,3,0.50,6.556583,NaN,0,...,NaN,3.75,NaN,0.1,56.424987,892531.0,12.1,12.2,0.470,9.8
2616,Timor-Leste,2000,Developing,58.7,276.0,3,0.50,49.069672,NaN,0,...,NaN,3.26,NaN,0.1,422.286330,87167.0,12.2,12.2,0.000,0.0

In [14]:
df = df.dropna(axis=0, subset=['Polio'])

In [15]:
df.isnull().sum()

Country                           0
Year                              0
Status                            0
Lifeexpectancy                    0
AdultMortality                    0
infantdeaths                      0
Alcohol                         181
percentageexpenditure             0
HepatitisB                      534
Measles                           0
BMI                              21
under-fivedeaths                  0
Polio                             0
Totalexpenditure                215
Diphtheria                        0
HIV/AIDS                          0
GDP                             435
Population                      644
thinness1-19years                21
thinness5-9years                 21
Incomecompositionofresources    160
Schooling                       160
dtype: int64

In [16]:
df[df['thinness1-19years'].isnull()]

,Country,Year,Status,Lifeexpectancy,AdultMortality,infantdeaths,Alcohol,percentageexpenditure,HepatitisB,Measles,...,Polio,Totalexpenditure,Diphtheria,HIV/AIDS,GDP,Population,thinness1-19years,thinness5-9years,Incomecompositionofresources,Schooling
2409,SouthSudan,2015,Developing,57.3,332.0,26,NaN,0.000000,31.0,878,...,41.0,NaN,31.0,3.4,758.725782,11882136.0,NaN,NaN,0.421,4.9
2410,SouthSudan,2014,Developing,56.6,343.0,26,NaN,46.074469,NaN,441,...,44.0,2.74,39.0,3.5,1151.861715,1153971.0,NaN,NaN,0.421,4.9
2411,SouthSudan,2013,Developing,56.4,345.0,26,NaN,47.444530,NaN,525,...,5.0,2.62,45.0,3.6,1186.113250,1117749.0,NaN,NaN,0.417,4.9
2412,SouthSudan,2012,Developing,56.0,347.0,26,NaN,38.338232,NaN,1952,...,64.0,2.77,59.0,3.8,958.455810,1818258.0,NaN,NaN,0.419,4.9
2413,SouthSudan,2011,Developing,55.4,355.0,27,NaN,0.000000,NaN,1256,...,66.0,NaN,61.0,3.9,176.971300,1448857.0,NaN,NaN,0.429,4.9
2457,Sudan,2015,Developing,64.1,225.0,58,NaN,0.000000,93.0,3585,...,93.0,NaN,93.0,0.3,2513.884661,3864783.0,NaN,NaN,0.488,7.2
2458,Sudan,2014,Developing,63.8,229.0,59,0.01,253.608651,94.0,676,...,94.0,8.43,94.0,0.3,2176.898290,37737913.0,NaN,NaN,0.485,7.2
2459,Sudan,2013,Developing,63.5,232.0,60,0.01,227.835321,93.0,2813,...,93.0,8.42,93.0,0.3,1955.667990,36849918.0,NaN,NaN,0.478,7.0
2460,Sudan,2012,Developing,63.2,235.0,61,0.01,220.522192,92.0,8523,...,92.0,8.20,92.0,0.3,1892.894352,3599192.0,NaN,NaN,0.468,6.8
2461,Sudan,2011,Developing,62.7,241.0,61,2.12,196.689215,93.0,5616,...,93.0,8.30,93.0,0.3,1666.857757,35167314.0,NaN,NaN,0.463,7.0
2462,Sudan,2010,Developing,62.5,243.0,62,1.77,172.009788,75.0,680,...,9.0,7.97,9.0,0.3,1476.478870,34385963.0,NaN,NaN,0.461,7.0
2463,Sudan,2009,Developing,62.0,248.0,63,1.99,17.053693,72.0,68,...,81.0,8.40,81.0,0.3,1226.884381,3365619.0,NaN,NaN,0.456,6.8
2464,Sudan,2008,Developing,61.8,251.0,64,2.01,128.636271,78.0,129,...,85.0,8.17,86.0,0.3,1291.528826,32955496.0,NaN,NaN,0.444,6.3
2465,Sudan,2007,Developing,61.4,254.0,65,2.01,86.131669,78.0,327,...,84.0,4.72,84.0,0.3,1115.695200,32282526.0,NaN,NaN,0.440,6.4
2466,Sudan,2006,Developing,61.0,26.0,66,1.90,60.336857,6.0,228,...,77.0,3.93,78.0,0.2,893.879364,316764.0,NaN,NaN,0.430,6.2
2467,Sudan,2005,Developing,67.0,261.0,66,1.55,37.590396,22.0,1374,...,78.0,3.18,78.0,0.2,679.753995,3911914.0,NaN,NaN,0.423,6.1
2468,Sudan,2004,Developing,59.7,278.0,68,1.59,37.044800,NaN,9562,...,74.0,3.39,74.0,0.2,565.569459,3186341.0,NaN,NaN,0.415,5.7
2469,Sudan,2003,Developing,59.6,278.0,69,1.74,35.352647,NaN,4381,...,69.0,3.18,69.0,0.2,477.738478,29435944.0,NaN,NaN,0.409,5.6
2470,Sudan,2002,Developing,59.4,277.0,70,1.59,30.622875,NaN,4529,...,6.0,2.95,6.0,0.2,412.151756,28679565.0,NaN,NaN,0.403,5.6
2471,Sudan,2001,Developing,58.9,283.0,71,1.81,28.880697,NaN,4362,...,66.0,2.96,66.0,0.2,377.525445,279455.0,NaN,NaN,0.399,5.6
2472,Sudan,2000,Developing,58.6,284.0,71,1.76,30.860010,NaN,2875,...,62.0,3.23,62.0,0.1,361.358430,2725535.0,NaN,NaN,0.394,5.5

In [17]:
df = df.dropna(axis=0, subset=['thinness1-19years'])

In [18]:
df.isnull().sum()

Country                           0
Year                              0
Status                            0
Lifeexpectancy                    0
AdultMortality                    0
infantdeaths                      0
Alcohol                         175
percentageexpenditure             0
HepatitisB                      525
Measles                           0
BMI                               0
under-fivedeaths                  0
Polio                             0
Totalexpenditure                212
Diphtheria                        0
HIV/AIDS                          0
GDP                             435
Population                      644
thinness1-19years                 0
thinness5-9years                  0
Incomecompositionofresources    160
Schooling                       160
dtype: int64

In [19]:
df[df['Incomecompositionofresources'].isnull()]

,Country,Year,Status,Lifeexpectancy,AdultMortality,infantdeaths,Alcohol,percentageexpenditure,HepatitisB,Measles,...,Polio,Totalexpenditure,Diphtheria,HIV/AIDS,GDP,Population,thinness1-19years,thinness5-9years,Incomecompositionofresources,Schooling
432,CÃ´ted'Ivoire,2015,Developing,53.3,397.0,57,NaN,0.0,83.0,65,...,81.0,NaN,83.0,1.9,NaN,NaN,5.5,5.5,NaN,NaN
433,CÃ´ted'Ivoire,2014,Developing,52.8,47.0,58,0.01,0.0,76.0,50,...,76.0,5.72,76.0,2.0,NaN,NaN,5.6,5.6,NaN,NaN
434,CÃ´ted'Ivoire,2013,Developing,52.3,412.0,59,3.15,0.0,8.0,48,...,79.0,5.81,8.0,2.4,NaN,NaN,5.8,5.7,NaN,NaN
435,CÃ´ted'Ivoire,2012,Developing,52.0,415.0,59,3.24,0.0,82.0,137,...,83.0,6.14,82.0,2.9,NaN,NaN,5.9,5.9,NaN,NaN
436,CÃ´ted'Ivoire,2011,Developing,51.7,419.0,60,3.13,0.0,62.0,628,...,58.0,6.42,62.0,3.3,NaN,NaN,6.1,6.0,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2805,UnitedStatesofAmerica,2004,Developed,77.5,111.0,28,8.48,0.0,92.0,37,...,92.0,15.14,96.0,0.1,NaN,NaN,0.7,0.6,NaN,NaN
2806,UnitedStatesofAmerica,2003,Developed,77.2,114.0,28,8.40,0.0,92.0,56,...,91.0,15.60,96.0,0.1,NaN,NaN,0.7,0.6,NaN,NaN
2807,UnitedStatesofAmerica,2002,Developed,77.0,115.0,28,8.33,0.0,88.0,41,...,9.0,14.55,94.0,0.1,NaN,NaN,0.8,0.6,NaN,NaN
2808,UnitedStatesofAmerica,2001,Developed,76.9,115.0,28,8.25,0.0,89.0,116,...,89.0,13.73,94.0,0.1,NaN,NaN,0.8,0.6,NaN,NaN
2809,UnitedStatesofAmerica,2000,Developed,76.8,114.0,28,8.21,0.0,9.0,85,...,9.0,13.70,94.0,0.1,NaN,NaN,0.8,0.7,NaN,NaN